[Unit]
Description={Name}

[Service]
WorkingDirectory=/opt/{Name}
ExecStart=/opt/{Name}
Restart=on-failure
RestartSec=10
StartLimitInterval=10s
Type=simple

[Install]
WantedBy=multi-user.target
